* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #677580;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #677580;  
}

:-ms-input-placeholder {  
   color: #677580;  
}


body {
	background-color: #fff;
	font-family: 'Lato';
	font-size: 16px;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
}

.playerslist {
	background-color: #fff;;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.playerslist__header {
	color: #fff;
	background-color: #02A8F3;
	padding: 1em;
	text-align: center;
}


.playerslist__search {
	width: 100%;
	height: 40px;
	input {
		background: url('../images/search.png') no-repeat 
		10px center;
		color: #677580;
		border: none;
		border-bottom: 1px solid #f2efef;
		width: 100%;
		height: 40px;
		padding-left: 4em;
		outline: none;
	}
}

.playerslist__select {
	width: 100%;
	height: 40px;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid #f2efef;
	label {
		width: 50%;
		color: #677580;
		font-size: 14px;
		font-weight: 600;
	}
	select {
		width: 50%;
		height: 39px;
		color: #677580;
		border: none;
		font-size: 14px;
		outline: none;
	}
}

.playerslist__list {
	width: 100%;
	padding: 0 1em;
	li {
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 1em;
		border-bottom: 1px solid #f2efef;
		transition: ease-out .3s;
		&:hover {
			background-color: #f7f8f9;
		}
		a {
			color: #677580;
			text-decoration: none;
			display: flex;
			align-items: center;
		}
		img {
			width: 40px;
		}
	}
	&--info {
		font-size: .8em;
		margin-left: 1em;
		p {
			color: #677580;
		}
	}
}


