<section class="">
	<div class="container">
			<div class="playerslist">
				<div class="playerslist__header">
					<h3>Player List</h3>
				</div>
				
				<!--Buscador-->
				<div class="playerslist__search">
					<input id="search" type="text" ng-model="query">
				</div>
				
				<!--Organizar-->
				<div class="playerslist__select">
					<label for=""> Organizar Por:</label>
					<select ng-model="playerOrder">
						<option value="nombre">Nombre</option>
						<option value="nacionalidad">Nacionalidad</option>
					</select>
				</div>
				
				<!--Lista de Jugadores-->
				<ul class="playerslist__list">
					<li ng-repeat="item in players | filter: query | orderBy: playerOrder">
						<a href="#/detalles/{{players.indexOf(item)}}">
							<img src="images/{{item.nickname}}.png" alt="">
							<div class="playerslist__list--info">
								<h3>{{item.nombre}}</h3>
								<p>{{item.nacionalidad}}</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
</section>